@inherits RealmComponent<AppState>
<h3>DecrementComponent</h3>
<button class="btn btn-primary" @onclick="@DecrementCountByOne">Decrement</button>
@code {
    void DecrementCountByOne() {
        Dispatch(new Server.Actions.DecrementByOne());
    }
}
