@inherits RealmComponent<AppState>

<h3>ParentComponent</h3>
<p>
    Current count from local state: @State.Count
</p>
<IncrementComponent></IncrementComponent>
<DecrementComponent></DecrementComponent>
<ResetComponent></ResetComponent>
@code {

}
